* {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: repeat(4 1fr);
  grid-template-rows: 100px 300px 550px 300px;
  grid-template-columns: 33% 34% 33%;
  grid-template-areas:
    'header header header'
    'info info info'
    'main main aside'
    'footer footer footer';
  height: 100vh;
}

header {
  grid-area: header;
  padding: 0;
  background-color: rgb(29, 33, 32);
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100px;
  padding-top: 20px;
}

nav {
  display: flex;
  width: 48%;
  height: 50px;
  margin-left: 40%;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 52, 51);
  border-radius: 22px;
  border: 1px solid rgb(44, 43, 43);
  color: white;
}

.hr li {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
  padding: 10px;
  font-style: bold;
  font-size: 20px;
}

.hr li:hover {
  color: #c4d84a;
}

.info {
  display: flex;
  grid-area: info;
  padding: 25px 0;
  background: radial-gradient(at top, #bebcbc, #313030);
}

.img {
  display: flex;
  width: 30%;
  height: 250px;
  align-items: center;
  justify-content: center;
}

.main-photo {
  width: 100%;
  height: 250px;
  margin-left: 270px;
  border: 10px solid white;
}

.content {
  display: block;
  float: left;
  height: 260px;
  width: 50%;
  margin-left: 200px;
}

h1 {
  margin-left: 50px;
  color: white;
  margin-top: 10px;
}

h2 {
  letter-spacing: 3px;
}

.other-info {
  margin-left: 50px;
  margin-top: 30px;
  font-size: 20px;
  color: rgb(195, 189, 189);
}

button {
  height: 30px;
  width: 100px;
  background-color: #c4d84a;
  color: black;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 30px;
}

main {
  grid-area: main;
  padding: 25px 0;
  border-top: 10px solid #c4d84a;
  border-bottom: 10px solid #c4d84a;
}

.main {
  padding: 10px 60px;
  text-align: justify;
  font-size: 18px;
}

.line {
  margin-top: 16px;
  width: 100%;
  height: 3px;
  background-color: #c4d84a;
}

.bold-line {
  width: 15%;
  height: 6px;
  background-color: #c4d84a;
}

.left-line {
  margin-top: 20px;
  height: 90px;
  width: 10px;
  background-color: #c4d84a;
}

.wrap {
  display: grid;
  grid-template-columns: 4% 96%;
  grid-template-rows: 1fr;
}

a {
  color: black;
}

.article1 {
  font-weight: bold;
  padding-top: 30px;
}

.article2 {
  padding-top: 30px;
}

aside {
  border-top: 10px solid #c4d84a;
  border-bottom: 10px solid #c4d84a;
  grid-area: aside;
  padding: 25px 0;
  width: 100%;
}

.aside-info {
  margin-left: 10%;
  height: 60px;
  width: 80%;
  background-color: #404040;
  border: 1px solid #404040;
}

.aside-info2 {
  display: flex;
  margin-left: 10%;
  height: 125px;
  width: 80%;
  border: 1px solid gray;
  background-color: #d4d4d4;
}

.aside-photo {
  overflow: hidden;
  height: 90px;
  width: 110px;
  margin: 10px;
  margin-top: 18px;
  float: left;
  
}

.aside-photo img {
  max-width: 100%;
  max-height: auto;
}

time {
  color: #5b5858;
}

.time {
  margin-top: 15px;
  margin-left: 5px;
}

h3 {
  color: white;
  font-size: 22px;
  padding-left: 20px;
  padding-top: 17px;
}

.info-content li {
  list-style-type: square;
  margin-left: 20px;
  margin-top: 25px;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 25% 65% 10%;
  padding: 25px 0;
  background-color: #232726;
  color: white;
  justify-items: center;
}

.footer-content {
  border: 1px solid gray;
  width: 58%;
  height: 30px;
  margin-left: 50px;
  padding-top: 7px;
  padding-left: 20px;
  margin-top: 10px;
  justify-items: center;
  background-color: #202423;
  border-radius: 22px;
  font-size: 19px;
}

.footer-c ul li {
  list-style-type: none;
  color: #716f6f;
  font-size: 17px;
  margin-left: 20px;
}

.copyright {
  font-size: 16px;
  color: #716f6f;
  justify-self: start;
  margin-left: 100px;
  grid-column: 1/4;
}
